.date-container {
  width: 7rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(12, 5, 5, 0.413);
  color: white;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 5px;
}

.month {
  font-size: 1rem;
}

.date {
  font-size: 1.5rem;
}
