.outer-list-item {
  background-color: rgba(119, 118, 118, 0.676);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 7px;
  margin: 1rem 1rem;
}

.outer-list-item > * {
  padding: 0 0.8em;
}

.expense-item-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.expense-item-amount-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.expense-item-amount-info > .expense-amount {
  margin-right: 1.5rem;
}

.expense-item-info > .expense-title {
  margin-left: 1.5rem;
}

.delete-btn__div > button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-item__btn {
  width: 7rem;
  max-width: 100px;
  max-height: 3rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.expense-title {
  font-size: 1.5rem;
  color: white;
}

.expense-amount {
  border: 1px solid white;
  background-color: rgb(78, 43, 103);
  max-height: 3.2rem;
  border-radius: 7px;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  padding: 0.5em;
}

@media only screen and (max-width: 768px) {
  .outer-list-item {
    flex-direction: column;
  }
}
