html,
* {
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}

.form-outer {
  width: 90%;
  margin: 2em auto 2rem auto;
  background-color: rgb(157, 99, 198);
  border-radius: 7px;
  padding: 1.5em;
}

.form-outer > li {
  max-width: 600px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 10rem 25rem;
  padding: 0.2em;
}

li > label {
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
}

li > input {
  border: none;
  border-radius: 7px;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.buttons > button {
  width: 10rem;
  max-width: 150px;
  font-weight: bold;
  color: white;
  background-color: rgb(78, 43, 103);
  padding: 1rem;
  border-radius: 5px;
  border: none;
  margin: 2rem 0 0 2rem;
  cursor: pointer;
}

.buttons > button:hover {
  background-color: rgb(120, 88, 143);
}

@media only screen and (max-width: 768px) {
  .form-outer > li {
    grid-template-columns: 20rem;
  }

  .form-outer label {
    margin-bottom: 0.5rem;
  }
}
